<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
    <link rel = "stylesheet" href = "./public/style.css">
</head>
<body>  
       <p>Shopping mart</p>
       <div class = "container">
             <h1> Shop now</h1>
             <select name = "items" id="dropdown">
                 <option value = "laptop-40,000$">laptop-40,000$</option>
                 <option value = "phone-20,000$">phone-20,000$</option>
                 <option value = "tab-10,000$">tab-10,000$</option>
                 <option value = "tv-90,000$">tv-90,000$</option>
             </select>
             <button id="add-to-cart">Add to cart</button>

             <div id="cart-data" style="display:none">
                  <p> Added products</p>
                  <div id = "added-products"></div>
                  <p>Total payment</p>
                  <div id ="totalcost"></div>
                  <button id ="payment">Proceed to payment</button>
             </div>
       </div>
       <div id = "payment-done">
            
       </div>
</body>
</html>